.summary-container {
  padding: 2em 2.222em 2.556em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .summary-container {
    padding-top: 1.333em;
    padding-bottom: 1.667em;
  }
}
